<p><%= @user.id %> <p> 
	<p><%= @user.name %> <p> 
		<% @userBlog.each do |u| %> 

		<p><%= u.content %> </p>
		<p><%= u.likes.count %> likes</p>
		<% u.comments.each do |c|  %> 
			<p> <%= c.user.name %>: <%= c.content %></p>
		<% end %> 
		<br>
		<%= button_to "Delete blog", {:controller => :blogs, :action => 'destroy', :id => u.id, }, :method => "delete", class: "btn btn-danger" %>
		<br>
		<% end %>

		<%= form_for(@blog, url: blogs_path, html: {method: "post"}) do |f| %> 
		<%=	f.label :content, "New Blog" %> 
		<%= f.text_field :content, class: 'form-control' %> 
		<br>
		<%= f.submit "Create Blog", class: "btn btn-primary" %> 
		<br>
		<% end %> 
		<br>